{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/password-done.css' %}">
{% endblock %}

{% block content %}
<div class="done-wrapper">
    <div class="done-card">
        <div class="icon">📩</div>
        <h2>Նամակը ուղարկված է</h2>
        <p>
            Եթե այդ email հասցեն գրանցված է համակարգում, 
            դուք շուտով կստանաք գաղտնաբառի վերականգնման հղում։
        </p>
        <a href="{% url 'login_page' %}" class="back-btn">
            Վերադառնալ մուտքի էջ
        </a>
    </div>
</div>
{% endblock %}
