{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forgot-password.css' %}" />
{% endblock %}

{% block content %}
<main>
  <div class="confirm-container">

    {% if validlink %}
        <form method="POST">
            {% csrf_token %}

            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
            {{ form.new_password1.errors }}

            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
            {{ form.new_password2.errors }}

            <button type="submit">
                Ապահովել նոր գաղտնաբառը
            </button>
        </form>
    {% else %}
        <p>Հղումը անվավեր է կամ ժամկետը անցել է ❌</p>
    {% endif %}

  </div>
</main>
{% endblock %}